[project]
name = "huggingface-model"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "huggingface-hub[cli,hf-transfer]>=1.4.1",
]
